<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Penanaman Modal Asing @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/uniform/css/uniform.default.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")"/>
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/css/components.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/css/plugins.min.css")"/>
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/pages/css/about.min.css")"/>
    <!-- END PAGE LEVEL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/layouts/css/layout.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/layouts/css/themes/default.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/layouts/css/customPerusahaan.css")" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/layouts/css/custom.css")"/>*@
    
    <!-- END THEME LAYOUT STYLES -->
    <!--    <link rel="shortcut icon" href="favicon.ico" />-->
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-menu-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/ReportCompany/ReportForm/Index">
                        <img src="@Url.Content("~/Content/assets/layouts/img/logo_ESDM.png")" alt="logo" width="45" style="margin: 13.5px 0 0;" />
                    </a>
                    <div class="header_title">
                        SISTEM INFORMASI PERIZINAN MINERAL DAN BATUBARA
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN USER LOGIN DROPDOWN
            <li class="dropdown dropdown-user dropdown-dark">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="~/Content/assets/layouts/img/avatar9.jpg">
                    <span class="username username-hide-mobile">Nick</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="page_user_lock_1.html">
                            <i class="icon-lock"></i> Lock Screen
                        </a>
                    </li>
                    <li>
                        <a href="page_user_login_1.html">
                            <i class="icon-key"></i> Log Out
                        </a>
                    </li>
                </ul>
            </li>
            END USER LOGIN DROPDOWN -->
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu box-shadow">
            <div class="container">
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown classic-menu-dropdown">
                            <a href="/ReportCompany/ReportForm/Index">Home</a>
                        </li>
                        <li class="menu-dropdown mega-menu-dropdown">
                            <a href="/ReportCompany/ReportForm/Rkab">
                                Form RKAB
                                <!--<span class="arrow"></span>-->
                            </a>
                        </li>
                        <li class="menu-dropdown classic-menu-dropdown">
                            <a href="/ReportCompany/ReportForm/Triwulan">
                                Form Triwulan
                                <!--<span class="arrow"></span>-->
                            </a>
                        </li>
                        <li class="menu-dropdown classic-menu-dropdown">
                            <a href="/ReportCompany/ReportForm/Tahunan">
                                Form Tahunan
                                <!--<span class="arrow"></span>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            PT. Coal Indonesia
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        @RenderBody()
                    </div>
                    <!-- END PAGE CONTENT INNER -->


                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!-- BEGIN INNER FOOTER -->
    <div class="page-footer">
        <div class="container">
            &copy; @DateTime.Now.Year PMA
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END INNER FOOTER -->
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/respond.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/excanvas.min.js")"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/js.cookie.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/uniform/jquery.uniform.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/scripts/app.js")"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/pages/scripts/components-date-time-pickers.min.js")"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/layouts/scripts/layout/layout.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/layouts/scripts/layout/demo.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/layouts/scripts/global/scripts/quick-sidebar.min.js")"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>