
@{
    ViewBag.Title = "Pembayaran Tagihan";
    Layout = "~/Areas/InternalOrganization/Views/Shared/_LayoutHomeCompanies.cshtml";
}
<div class="page-content-inner">
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="portlet light about-text">
                <h3>
                    <i class="fa fa-check icon-info"></i> Petunjuk
                </h3>
                <p class="margin-top-20">
                    Pada Halaman ini, Perusahaan dapat melakukan konfirmasi pembayaran ataupun cicilan tagihan Piutang PNBP.
                </p>
                <p>    Field yang harus diisi oleh perusahaan adalah:                    </p>
                
                <div class="row">
                    <div class="col-xs-6">
                        <ul class="list-unstyled margin-top-10 margin-bottom-10">
                            <li>
                                <i class="fa fa-check"></i> Memasukkan Nominal Tagihan yang dibayarkan
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Memasukkan bukti pembayaran
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Memasukkan alasan pada kolom keterangan, apabila menolak tagihan
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="portlet-body form" ng-app="company" ng-controller="company-controller">
                    @*<form class="form-horizontal" name="userForm" id="userForm" role="form" enctype="multipart/form-data">*@
@using (Html.BeginForm("Upload", "Companies", FormMethod.Post, new { @class="form-horizontal", area = "InternalOrganization", enctype = "multipart/form-data" }))
{
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Jumlah Piutang</label>
                                <div class="col-md-9">
                                    @Html.TextBox("jumlahPiutang", "", new { @class = "form-control",
                                   @data_mask_maxlength = "false", @data_mask_reverse = "true",
                                   value = ViewBag.jumlahPiutang,
                                        data_mask="#.##", disabled="disabled"})
                                    @*<input type="text" class="form-control"
                                           data-mask-maxlength="false"
                                           data-mask-reverse="true"
                                           data-mask="#.##"                                                                                    
                                           name="jumlahPiutang" id="jumlahPiutang" disabled="disabled">*@                             
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nominal Pembayaran</label>
                                <div class="col-md-9">
                                    @Html.TextBox("nominal", "", new { @class="form-control",
                                   @data_mask_maxlength = "false",
                                   @data_mask_reverse = "true",
                                   data_mask = "#.##"})
                                    @*<input type="text" class="form-control"
                                           data-mask-maxlength="false"
                                           data-mask-reverse="true"
                                           data-mask="#.##"
                                           ng-model="creditModel.nominal"
                                           name="nominal" id="nominal" required>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Foto / Scan Bukti Pembayaran</label>
                                <div class="col-md-9">
                                    @*<input type="file" class="form-control"
                                           ng-model="creditModel.bukti"
                                           name="file" id="file" multiple required>*@
                                    @Html.TextBox("file", "", new { type = "file", @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Keterangan</label>
                                <div class="col-md-9">
                                    @Html.TextArea("keterangan", new { @class="form-control", rows=3})
                                    @*<textarea rows="3" class="form-control"
                                           ng-model="creditModel.keterangan"
                                           name="keterangan" id="keterangan"></textarea>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="right col-md-11">
                                @*<button type="button" class="btn default">Cancel</button>*@
                                <button type="submit" class="btn green">Submit</button>
                                <div class="space"></div>
                            </div>
                        </div>
}
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$('#nominal').mask("#.##0,00", { reverse: true });
        document.getElementById("jumlahPiutang").value = @ViewBag.jumlahPiutang;
        $('#jumlahPiutang').mask('000.000.000.000.000.000.000', { reverse: true });
        $('#nominal').mask('000.000.000.000.000.000.000', { reverse: true });
        //$('#jumlahPiutang').val(@ViewBag.jumlahPiutang);
    })

</script>

<script src="@Url.Content("~/Scripts/angular.min.js")"></script>
<script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
<script src="@Url.Content("~/Areas/InternalOrganization/Ng/Company.js")"></script>