@model EduSpot.Entity.Tables.Organization.Company

@{

    ViewBag.Title = "Tambah Perusahaan";
    Layout = "~/Areas/Organization/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form box-shadow">
            <div class="portlet-title">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Master</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Organisasi</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Perusahaan</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="title">
                            <i class="fa fa-pencil-square-o font-red"></i>
                            <span class="font-red sbold">
                                Tambah Perusahaan
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="overflow:hidden;">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!--
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>ID</label>
                                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        -->

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>Nama Perusahaan</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.NPWP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>NPWP</label>
                                    @Html.EditorFor(model => model.NPWP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NPWP, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2 hide">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.StatusIzin, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>Status Izin</label>
                                    @Html.EditorFor(model => model.StatusIzin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StatusIzin, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.TahapIup, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>Tahap IUP</label>
                                    @Html.EditorFor(model => model.TahapIup, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TahapIup, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.IupTypeID, "IupTypeID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>Tipe IUP</label>
                                    @Html.DropDownList("IupTypeID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IupTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group has-success">
                                    @*@Html.LabelFor(model => model.NoUrutBerkas, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label>No. Urut Berkas</label>
                                    @Html.EditorFor(model => model.NoUrutBerkas, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoUrutBerkas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-4 col-xs-5 col-sm-offset-2">
                                <div class="form-group has-success">
                                    @*<input type="submit" value="Simpan" class="btn green-sharp red-stripe btn-block" />*@
                                    <button type="submit" class="btn green-sharp red-stripe">
                                        <i class="fa fa-save"></i> Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <a href="@Url.Action("Index")" class="btn green-sharp red-stripe box-shadow">
            <i class="fa fa-list-alt"></i> Lihat Daftar
        </a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
