@model IEnumerable<EduSpot.Entity.Tables.Organization.Company>

@{
    ViewBag.Title = "Daftar Perusahaan";
    Layout = "~/Areas/Organization/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form box-shadow">
            <div class="portlet-title">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Master</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Organisasi</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Perusahaan</span>
                    </li>
                </ul>
            </div>
            <div class="portlet-body" style="overflow:hidden;">
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>
                                <i class="fa fa-list-alt font-red"></i>
                                <span class="font-red sbold">
                                    Daftar Perusahaan
                                </span>
                            </h4>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="@Url.Action("ImportDataCompany")" class="btn green-sharp red-stripe">
                                <i class="fa fa-file-excel-o"></i> Import Data
                            </a>
                            <a href="@Url.Action("Create")" class="btn green-sharp red-stripe">
                                <i class="fa fa-plus"></i> Tambah Data
                            </a>
                            <div class="space"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            @(Html.Kendo().Grid<EduSpot.Entity.Tables.Organization.Company>()
                                .Name("grid")
                                .EnableCustomBinding(true)
                                .Columns(columns =>
                                {
                                    columns.Command(
                                       command =>
                                       {
                                           command.Custom(" Delete").Click("index.delete");
                                           command.Custom(" Edit").Click("index.edit");
                                       }).Width(110).Title("Action");
                                    columns.Bound(p => p.Name).Title("Nama Perusahaan").Width(223);
                                    columns.Bound(p => p.NPWP).Title("NPWP");
                                    columns.Bound(p => p.StatusIzin).Hidden(true);
                                    columns.Bound(p => p.TahapIup).Title("Tahap IUP");
                                    columns.Bound(p => p.CreatedBy).Title("Dibuat Oleh").Width(250);
                                    columns.Bound(p => p.CreatedDate).Title("Dibuat Tanggal").Format("{0:dd/MM/yyyy}").Width(148);
                                    columns.Bound(p => p.ModifiedBy).Title("Diubah Oleh").Width(250);
                                    columns.Bound(p => p.ModifiedDate).Title("Diubah Tanggal").Format("{0:dd/MM/yyyy}").Width(152);
                                    //columns.Bound(p => p.ModifiedBy);
                                    //columns.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
                                })
                                .Events(e => e.DataBound("onRowBound"))
                                .Scrollable()
                                .Pageable()
                                .Filterable()
                                .Sortable()
                                .ColumnMenu()
                                .Resizable(resize => resize.Columns(true))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Read("List", "Companies", new { area = "Organization" })
                                    .ServerOperation(true)

                                ))

                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <h2>Test Details</h2>
        <em>Title Company</em>
        <dl>
            <dt>Company Name: </dt>
            <dt>Address: </dt>
        </dl>
    </div>
</script>

<script type="text/javascript">
    function onRowBound(e) {
        $(".k-grid-Edit").find("span").addClass("k-font-icon k-i-pencil");
        $(".k-grid-Delete").find("span").addClass("k-font-icon k-i-trash");
    }
    function refreshGrid() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    }
    function returnSelectedRow(e) {
        var grid = $("#grid").data("kendoGrid");
        var selectedRow = grid.dataItem($(e.currentTarget).closest("tr"));
        return selectedRow;
    };
    var index = (function ($) {
        var self = this;
        return {
            edit: function (e) {
                var selectedRow = returnSelectedRow(e);
                var url = "@Url.Action("Edit", "Companies")" + "/" + selectedRow.ID.toString();
                window.location.replace(url);
            },

            delete: function (e) {
                var selectedRow = returnSelectedRow(e);
                var konf = confirm("Are You Sure to delete " + selectedRow.Name + "'s Evaluation ?");
                if (konf == true) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: {
                            p: selectedRow.ID
                        },
                    traditional: true,
                    success: function (result) {
                        debugger;
                        if (result) {
                            alert("Data has been successfully Deleted");
                            refreshGrid();
                        }
                    }
                });
                }
            },



            alert: function (e) {
                alert('z')
            }
        }
    })(jQuery);

    var detailsTemplate = kendo.template($("#template").html());

    function showDetails(e) {
        e.preventDefault();
        debugger;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
</script>

<style type="text/css">
    #details-container {
        padding: 10px;
    }

        #details-container h2 {
            margin: 0;
        }

        #details-container em {
            color: #8c8c8c;
        }

        #details-container dt {
            margin: 0;
            display: inline;
        }
</style>

