@model EduSpot.Entity.Tables.AngkutJual.SalesDestination

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AngkutJual/Views/Shared/_LayoutAngkutJual.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesDestination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExtendedSk.LetterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedSk.LetterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSk.LetterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSk.LetterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
