@{
    ViewBag.Title = "- Melihat daftar keseluruhan";
}
<!--BEGIN KENDO PLUGIN-->
@Styles.Render("~/Content/kendo/css")
<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.default.mobile.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.dataviz.material.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.material.min.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/kendo/2016.2.607/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2016.2.607/jszip.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2016.2.607/kendo.all.min.js")"></script>

<!--END KENDO PLUGIN-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestGridMasterDetail</title>
</head>
<body>
    <div> 
        @(Html.Kendo().Grid<Esdm.Web.Areas.PKP2B.Models.GeneralInformationViewModel>()
                   .Name("grid")
                   //.ToolBar(tools => tools.Pdf().HtmlAttributes(new { @class = "button-custom", @style = "width:150px!important;text-align:left!important;" }))
                   .ToolBar(tools => tools.Excel().HtmlAttributes(new { @class = "button-custom", @style = "width:150px!important;text-align:left!important;" }))
                   .Excel(
                        excel => excel
                        .FileName("Data Seluruh Perusahaan.xlsx")
                        .AllPages(true)
                    )
                   //.Pdf(
                   //     pdf => pdf
                   //     .AllPages()
                   //     .AvoidLinks()
                   //     .PaperSize("A4")
                   //     .Scale(0.8)
                   //     .Margin("2cm", "1cm", "1cm", "1cm")
                   //     .Landscape()
                   //     .RepeatHeaders()
                   //     .TemplateId("page-template")
                   //     .FileName("Data Seluruh Perusahaan.pdf")
                   //     .ProxyURL(Url.Action("Pdf_Export_Save", "IupOpAngkutJualList"))
                   // )
                   .EnableCustomBinding(true)
                   .Columns(columns =>
                   {
                       columns.Command(
                           command =>
                           {
                               command.Custom(" Print").Click("index.print");
                               command.Custom(" Edit").Click("index.edit");
                               command.Custom(" History").Click("index.history");
                           }).Width(240).Title("Action");
                       columns.Bound(p => p.ID).Hidden();
                       columns.Bound(p => p.Name).Title("Nama Perusahaan").Width(223);
                       columns.Bound(p => p.Alamat).Title("Alamat").Width(400);
                       columns.Bound(p => p.Provinsi).Title("Provinsi").Width(200);
                       //columns.Bound(p => p.StatusIzin).Title("Status Perizinan").Width(70).HeaderHtmlAttributes("align=center");
                       columns.Bound(p => p.LuasWilayahAwal).Title("Luas Wilayah Awal").Width(150);
                       columns.Bound(p => p.TanggalKontrak).Title("Tanggal Kontrak").Format("{0:dd/MM/yyyy}").Width(170);
                       columns.Bound(p => p.TanggalBerakhir).Title("Tanggal Berakhir").Format("{0:dd/MM/yyyy}").Width(170);
                   })
                   .Events(e => e.DataBound("onRowBound"))
                   .Sortable()
                   .Pageable()
                   .Scrollable()
                   .Filterable()
                   .ClientDetailTemplateId("template")
                   .ColumnMenu()
                   .Resizable(resize => resize.Columns(true))
                   .DataSource(dataSource => dataSource
                       .Ajax()
                       .Read("List", "MelihatDaftarKeseluruhan", new { area = "kontrakkarya" })
                       .ServerOperation(true)
                    ))



    </div>
</body>
</html>
<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<Esdm.Web.Areas.PKP2B.Models.TahapKegiatanViewModel>()
            .Name("grid_#=ID#") // template expression, to be evaluated in the master context
            .Columns(columns =>
            {
                //columns.Bound(o => o.OrderID).Width(110);
                //columns.Bound(o => o.ShipCountry).Width(110);
                //columns.Bound(o => o.ShipAddress).ClientTemplate("\\#= ShipAddress \\#"); // escaped template expression, to be evaluated in the child/detail context
                //columns.Bound(o => o.ShipName).Width(300);
                //columns.Bound(o => o.ID).Width(110);
                columns.Bound(o => o.Tahap).Width(110);
                columns.Bound(o => o.LuasDipertahankan).Width(110);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("ListDetail", "MelihatDaftarKeseluruhan", new { area = "pkp2b", id = "#=ID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )

</script>

<script>

    function onRowBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());

        $(".k-grid-Print").find("span").addClass("k-font-icon  k-i-print");
        $(".k-grid-Edit").find("span").addClass("k-font-icon k-i-pencil");
        $(".k-grid-Delete").find("span").addClass("k-font-icon k-i-trash");
        $(".k-grid-Alert").find("span").addClass("k-font-icon k-i-exception");
        $(".k-grid-History").find("span").addClass("k-font-icon k-i-refresh");

        $(".k-grid2-Edit").find("span").addClass("k-font-icon k-i-pencil");
        $(".k-grid2-Delete").find("span").addClass("k-font-icon k-i-trash");
        $(".k-grid2-Alert").find("span").addClass("k-font-icon k-i-exception");

        $(".k-grid3-Edit").find("span").addClass("k-font-icon k-i-pencil");
        $(".k-grid3-Delete").find("span").addClass("k-font-icon k-i-trash");
        $(".k-grid3-Alert").find("span").addClass("k-font-icon k-i-exception");
    }
    
    var index = (function ($) {
        var self = this;
        return {
            edit: function (e) {
                var selectedRow = returnSelectedRow(e);
                var url = "@Url.Action("edit", "memasukandata", new { area = "pkp2b" })" + "/" + selectedRow.ID.toString();
                window.location.replace(url);
            },
            print: function (e) {
                var selectedRow = returnSelectedRow(e);
                var url = "@Url.Action("DownloadViewPDF", "printdata", new { area = "pkp2b" })" + "/" + selectedRow.ID.toString();
                window.location.replace(url);
            },
            history: function (e) {
                var selectedRow = returnSelectedRow(e);
                var url = "@Url.Action("ViewHistory", "MelihatDaftarKeseluruhan", new { area = "pkp2b" })" + "/" + selectedRow.ID.toString();
                window.location.replace(url);
            },

            dataBound: function(){
                var grid = $("#grid").data("kendoGrid");
                grid.find(".k-hierarchy-cell, .k-hierarchy-col").hide(); //get rid of detail icon
            },

            alert: function (e) {
            @*var url = "@Url.Action("AlertData", "IupOpAngkutJual")" + "/" + selectedRow.ID.toString();
                window.location.replace(url);*@
                swal({
                    title: "Are You Sure?", text: "Send Alert? ",
                    type: "warning", showCancelButton: true, confirmButtonColor: "#3085d6",
                    confirmButtonText: "Ya, silahkan kirim!", closeOnConfirm: false
                }, function () {
                    var selectedRow = returnSelectedRow2(e);
                    var url = "@Url.Action("SendAlert/", "MelihatDaftarKeseluruhan", new { area = "pkp2b" })" + selectedRow.ID.toString();
                    //$http.post('/pkp2b/melihatdaftarkeseluruhan/sendalert/', { id: selectedRow.ID })
                    //$http.post(url)
                    //.success(function (data) {
                    //    //$scope.loadKronologiTahapan();
                    //    swal("Sukses!", "Peringatan Telah dikirim", "success");
                    //})
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SendAlert", "MelihatDaftarKeseluruhan", new { area = "pkp2b" })",
                        data: {
                        id: selectedRow.ID
                        },
                    traditional: true,
                    success: function (result) {
                        if (result) {
                            swal("Sukses!", "Peringatan Telah dikirim", "success");
                        }
                    }
                });
            });
    },

        refreshGrid1: function (e) {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    },
    refreshGrid2: function (e) {
        $("#grid2").data("kendoGrid").dataSource.read();
        $("#grid2").data("kendoGrid").refresh();
    },
    refreshGrid3: function (e) {
        $("#grid3").data("kendoGrid").dataSource.read();
        $("#grid3").data("kendoGrid").refresh();
    }}
    })(jQuery);
</script>

@Scripts.Render("~/bundles/kendo")